div.index
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 60%;
    margin: 0 auto;

     > div.item
    {
        display: flex;
        flex-direction: column;

        width: 33%;
        height: 250px;
        margin-right: .5%;
        margin-bottom: 1%;

        &:nth-child(3n)
        {
            margin-right: 0;
        }

         > .bg
        {
            flex: 1;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

         > .des
        {
            height: 20px;
        }
    }
}
